# Environment files
.env
.env.local
.env.*.local

# Logs
*.log

# Dependencies
/vendor/

# Binary files
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db 

# Coverage files
coverage.out
coverage.html
coverage
